@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

#cv-main{
    font-family: 'Zilla Slab', serif;
}

#cv-card{
    width: 100%;
    height: 20rem;
}

#cv-card-image{
    width: 100%;
    height: 65%;
    object-fit: cover;
}

#cv-card-body{
    /* margin-top: 20%; */
    padding: 2%;
    height: 35%;
}

#cv-card-title{

}

#btncvRead{
    color:#EE2934; 
    background:#d1d1d1;
    border: none;
}