@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
#main_contact_us{
  margin-left: 12%;
  margin-right: 12%; 
  font-family: 'Zilla Slab', serif;
}
#contact_us {
 
  display: grid;
  grid-template-columns: 200fr 200fr 200fr;
  gap: 5%;
  padding-top: 2%;
}
.main-card {
  /* height: 25%; */
  width: 100%;
}
.text1{
  padding-top: 2%;
}
.text-mute{
  padding-top: 3%;
  font-size: 18px;
  color: darkgrey;
}
.form-value{
  display: grid;
  grid-template-columns: 100fr 100fr;
  /* min-height: 35rem; */
  height: 30rem;
}
#Send_Message{
  color: #ffffff;
  background: #EE2934;
}
#Send_Message:hover{
  background-color: #1A2E51;
}
.error-msg{
  /* padding-top: 1%; */
}