@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");


@media screen and (min-width: 700px) {
  #main_contact_us {
    margin-left: 12%;
    margin-right: 12%;
    font-family: "Zilla Slab", serif;
  }
  #contact_us {
    display: grid;
    grid-template-columns: 200fr 200fr 200fr;
    gap: 5%;
    padding-top: 2%;
  }
  .main-card {
    /* height: 25%; */
    width: 100%;
  }
  .text1 {
    padding-top: 2%;
  }
  .text-mute {
    padding-top: 3%;
    font-size: 18px;
    color: darkgrey;
  }
  .form-value {
    display: grid;
    grid-template-columns: 100fr 100fr;
    /* min-height: 35rem; */
    height: 30rem;
  }
  #Send_Message {
    color: #ffffff;
    background: #ee2934;
  }
  #Send_Message:hover {
    background-color: #1a2e51;
  }
  #map{ 
    width: 50rem;
    height: 30rem;
  }
  #contact_us {
    display: grid;
    grid-template-columns: 200fr 200fr 200fr;
    gap: 5%;
    padding-top: 2%;
    margin: 5%;
  }
  #card-social{
    display: flex;
    flex-direction: row;
    gap: 2%;
  }
  #it{
    color: #ffffff;
    background-color: #EE2934;
    width: 20%;
  }
}

@media screen and (max-width: 700px) { 
  .map{
    background-color: #f5f5f5;
  }
  #map{ 
    width: 90%;
    height: 15rem;
    margin: 5%;
    border-radius: 5%;
  }
  #Send_Message {
    color: #ffffff;
    background: #ee2934;
    margin-left: 20%;
    margin-right: 20%;
  }
  #Send_Message:hover {
    background-color: #1a2e51;
  }
  .text1 {
    padding-top: 2%;
    margin: 5%;
  }
  #card-contact{
    width: 90%;
    /* height: 50%; */
    margin-left: 5%;
  }
  #card-social{
    display: flex;
    flex-direction: row;
    gap: 5%;
  }
  #it{
    color: #ffffff;
    background-color: #EE2934;
    width: fit-content;
  }
  .text-mute {
    padding-top: 3%;
    font-size: 18px;
    color: darkgrey;
  }
  .py-3{
    padding-top: 1.5%;
  }
}