@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');



.fonton{
  background-color: #EDF2F8
}
#forgot{
  
  font: "small-caption" ;
  font-family: 'Zilla Slab', serif
}
.bordert {
  border-top: 1px solid #aaa;
  /* position: fixed;
  bottom: 22%; */
}

.bordert:after {
  content: "OR";
  position: absolute;
  top: -13px;
  left: 45%;
  background-color: #fff;
  padding: 0px 8px;
}

#ModalWrapper {
  min-width: 820px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  background: rgb(255, 255, 255);
  color: #000;
  

}

.Background {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(185, 151, 151, 0.115); */
  filter: blur(5px);
  /* background-color: transparent; */
}
.logo-img-overlay{
  position: absolute;
    top: 3%;
    left: 3%;
}
.logo-text{
  color: #ffffff;
  text-align: center;
  width: 50%;
  position: absolute;
  bottom: 3%;
  
}
#logo1{
  width: 25%;
  height: auto;
}
.ModalImg {
  width: 100%;
  height: 42rem;
  border-radius: 21px 0 0 21px;
  opacity: 0.5;
  object-fit: cover;


}
.my-2 {
  margin-top: -2.5rem !important;
}
.mx-5 {
  margin-right: 37rem!important;
  margin-left: 20rem!important;
}
#mainmodal{
margin-top: 2%;
margin-right: 37rem!important;
  margin-left: 20rem!important;
}
.ModelHeader {
  position: relative;
  top: 10px;
  left: 20px;
  height: 32px;
  z-index: 10;
}
.form {
  position: relative;

  left: 20px;
  height: 32px;
  padding: 20px;
  z-index: 10;

}
/* #social_buttons{
  position: fixed;
  bottom: 22%;
  right: 25%;
} */
.footer {
  text-align: center;
  /* position: fixed;
  bottom: 16%;
  right: 30%; */
  font-size: 120%;
  padding-top: 4%;
}
.password-icon {
  position: relative;
  bottom: 50px;
  float: right;
  right: 10px;
  cursor: pointer;
}
#loginbutton {
 
  color: #ffffff;
  background: #1b2d51;
  /* width: 30rem; */
}
#login{
 /* position: fixed;
  bottom: 8%; */
}
.error-msg{
  font-size: smaller;
  color: rgb(250, 50, 50);
  text-align: justify;
  margin-left: 0.5rem;
}


.border-radius-2 div {
  border-radius: 20px;
}