
/* desktop mode */
/* Newsbar css */

.Newsbar{
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 10rem 4fr 6fr ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}




/* News logo */
.News-logo{
    display: grid;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;

}

/* manu-links and buttons */
.Manu-links{
    grid-column: 3/4;
}

.hamburger-manu {
    display: none;
}

.mobile-manu{
     display: none;   
}

.Manu-links ul {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    /* grid-template-columns: 4fr ,repeat(2,1fr); */
    align-items: center;
}

.Manu-links ul li{
    list-style-type: none;
    align-items: right;    
}
.Manu-links ul a{
    text-decoration: none;
}

@media (max-width: 1260px) {
    .Newsbar {
        height: 4rem;
        grid-template-columns: 2rem 1fr 3fr 1rem ;
    }
}
/* mobile mode */
@media (max-width: 980px) {
    .Newsbar {
        height: 4rem;
        grid-template-columns: 2rem 1fr 2fr 1fr 1rem ;
    }

    .Manu-links{
        display: none;
    }
    .hamburger-manu {
        display: contents;
        grid-column: 4/5;
        display: flex;
    justify-content: right;
    align-items: center;
    }
   
}


/* ---------------------- Navbar css -------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
/* News main nave */

#navbarSupportedContent {
    font-family: 'Zilla Slab', serif;
}

#NewsNav {
 width: 100%;
 height: 6rem;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;    
}

#nav-link{
color: #1A2E51;
}

#NewsLogo{
    margin-left: 110px;
    width: 11%;
    /* height: 25%; */
}

/* nav buttons */

#btnSignIn{ 
    color: #ffffff; 
    background:#EE2934;
    border: none;   
}

#btnSignIn:hover{
    background: #1A2E51;
}

#btnBookmark{
text-decoration: none;
color: #ffffff;
border: none;
}

#btnBookmark:hover{
    background: #EE2934;
}

#btnLogout{ 
    color: #ffffff; 
    /* background:#1A2E51; */
    border: none;   
}

#btnLogout:hover{
    background: #EE2934;
}
.btnSignIn{ 
    color: #ffffff; 
    background:#EE2934;
    border: none;   
} 

.btnSignIn:hover{
    background: #1A2E51;
}

#btnNotification{
    color: #EE2934;
     background: #F5F5F5;
     border: none;
}

#btnNotification:hover{
    color: #ffffff;
    background: #1A2E51;
}

#btnSerch{
    color: #EE2934;
    background: #F5F5F5;
    margin-right: 110px;
    border: none;
}

#btnSerch:hover{
    color: #ffffff;
    background: #1A2E51;
}

#serchModal{
    position: absolute;
    background: #ffffff;
    border: 1px solid #C0C5D0;
    padding: 1%;
    top: 90%;
    right: 5%;
    
}

#nav-links{
    color: #1A2E51;
}

#nav-links:hover{
    color: #ffffff;
    background-color: #EE2934;
}


/* #inputSerchForm{
    /* border-color: #EE2934; */
/* } */ 

#btnSerchForm{
    color: #EE2934;
    background: #F5F5F5;
}


/* button logo */

#btnLogo{
    margin-bottom: 2px;
    margin-right: 7px;
   
}

/* ---------------------- respons Navbar css -------------------------- */

/* @media (max-width: 1240px) {
    .Navbar {
        height: 4rem;
        
    }
}

@media (max-width: 980px) {
    .Newsbar {
        height: 4rem;
        grid-template-columns: 2rem 1fr 2fr 1fr 1rem ;
    }

    .Manu-links{
        display: none;
    }
    .hamburger-manu {
        display: contents;
        grid-column: 4/5;
        display: flex;
    justify-content: right;
    align-items: center;
    }
   
} */

/* ---------------------- Header css -------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');



#Header{
    
    height: 3rem;
    background-color: #1A2E51 ;
    color: #ffffff;
    font-family: 'Zilla Slab', serif;
    gap: 32%;
}

.left-head{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    
}

#header-city-section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    text-align: 'justify';
    line-height: 1%;
    margin-top: 5%;
}

#header-city-section-day{
    font-size: medium;
}

.right-head{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#head-trend-news{
    margin-top: 20px;
    background:  #101D38;
    
    
}

/* header buttons */

#btncalendar{
    
    color: #ffffff; 
    background:#EE2934;
    justify-content: center;
}


/* logos */
#logoCalendar{
    margin-bottom: 4px;
    margin-right: 7px;
}

#line-head{
    height: 35px;
    width: 0.5px;
    color: #909090;
    background-color: #909090;
}
#btnHead-Socials{
    color: #ffffff; 
    background:#EE2934;
}

#drop-head-lang{
    color: #ffffff;
    outline-color: #ffffff;
}

/* ---------------------------------- cat nav --------------------------- */

#cn-main{
    font-family: 'Zilla Slab', serif;
    border-top: 0.1px solid #00000063;
    border-bottom: 0.1px solid #00000063;
    background-color: #ffffff;
}

#catNav-links{
    color: #1A2E51;
    text-decoration: none;
    margin-right: 1rem;
}