@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

#nv-main{
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
    /* width: 100%; */
    height: fit-content;
    font-family: 'Zilla Slab', serif;
    color: #1A2E51;
}

#nv-page{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2%;
    margin-top: 5rem;
}

#btnnvCatagory{
    color: #ffffff; 
    background:#EE2934;
    width: fit-content;
  }

#nv-right-section{
    display: flex;
    flex-direction: column;
    gap: 2%;
}

#nv-body{
    width: 100%;
max-width: 100%;
}

#nv-title{
    margin-top: 1%;
}

#nv-image{
    margin-top: 5%;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: auto;
}

#nv-functions{
    background-color: #EE2934;
    padding-left: 2%;
    padding: 1%;
}

#nv-function{
    color: #ffffff;
    text-decoration: none;
    margin: 1%;
}

#nv-description{
    margin-top: 5%;
    /* width: 20rem; */
    width: 100%;
    /* max-width: 100%; */
}
#nv-description img{
    max-width: 100% !important;
    height: auto;
}

#nv-description video{    
    max-width: 100%;
    max-height: 40rem;
    height: auto;
}