@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');


#rbn-main{
  font-family: 'Zilla Slab', serif;
    border: 1px solid #C0C5D0;
    background-color: #F5F5F5;
    border-radius: 5px;
    height: fit-content;
    }

    #rbn-cat-nav{
        border: 2px solid #EE2934;
        border-radius: 5px;
        color: #ffffff;
        background-color: #EE2934;
        /* padding-top: 2%; */
        justify-content: center;
        height: 3rem;
      }
    
    #rbn-card{
      width: 96%;
      height: 6rem;
      margin-left: 3%;
      margin-right: 3%;
      margin-top: 3%;
      margin-bottom: 1%;
      background-color: #F5F5F5;
      overflow: hidden;
      border: none;
      display: flex;
      flex-direction: row;
    }

    #rbn-card:hover {
      border: 1px solid #C0C5D0;
    }
    
    #rbn-image{
     object-fit: cover;
     height: 6rem;
     width: 30%;
     min-width: 30%;
     max-width: 30%;
     border-radius: 5px;
    }
    
    #rbn-card-body{
      width: 70%;
      /* padding: 5%; */
      padding-left: 2%;
    }

    #btnrbnCatagory{
        color: #ffffff; 
        background:#EE2934;
        width: fit-content;
        margin-top: 3%;
        margin-left: 3%;
      }
    
    #rbn-card-text{
      margin: 3%;
    }