#tns-modal-header{
    background-color: #1A2E51;
    color: #ffffff;
    justify-content: start;
}
#tns-modal-body{
    background-color: #1A2E51;
    color: #ffffff;
}
#pp-modal-header{
    background-color: #1A2E51;
    color: #ffffff;
    justify-content: start;
}
#pp-modal-body{
    background-color: #1A2E51;
    color: #ffffff;
}