@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

#vnv-main{
    font-family: 'Zilla Slab', serif;
    display: grid;
    grid-template-columns: 6% 1fr 6%;
    margin-top: 2%;
}

#vnv-content{
    display: grid;
    grid-column: 2/3;
}

#vnv-card{
    width: 100%;
    height: 25rem;
    border: none;
    margin-top: 1%;
    background-color: #ffffff;
}

#vnv-card:hover{
    border: 1px solid #C0C5D0;
}

#vnv-card-image{
    width: 100%;
    height: 70%;
    object-fit: cover;
}

#vnv-card-body{
    /* margin-top: 20%; */
    padding: 1%;
    height: 30%;
}

#vnv-btnCatagory{
    margin-top: 3%;
    color: #ffffff; 
    background:#EE2934;
    width: fit-content;
}

#vnv-card-title{
    margin-top: 5%;
}

#btnvnvRead{
    color:#EE2934; 
    background:#d1d1d1;
    border: none;
}

#vnv-card-date{
    font-size: large;
}

#vnv-logoCalendar{
    margin-bottom: 0.6%;
    margin-right: 1%;
}
#vnv-btnVideo {
    float: inline-end;
    color: #ffffff;
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    position: absolute;
    right: 5%;
    top: 5%;
  }

  #vnv-btnVideo:hover {
    /* transform: rotate(360deg); */
    box-shadow: 0 0 1px 8px rgba(255, 255, 255, 0.4),
      0 0 1px 16px rgba(255, 255, 255, 0.1);
  }

  #vnv-btnVideo-logo {
    margin-left: 10%;
  }